<div class = "small-block-grid-1 medium-block-grid-3 large-block-grid-5 panel-log-in" >
  <div style="display:flex;justify-content:center;align-items:center;">
    <div class = "panel-reg">
      <h2>Resend confirmation instructions</h2>
    </div>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class= "row">
    <div class= "field columns small-6 medium-8 large-12">
    <%= f.label :email, :style => "color: #ead61c;" %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
  </div>

  <div class= "row">
    <div class= "field columns small-6 medium-8 large-12">
      <div class="actions">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
    </div>
  </div>
<% end %>

<div class= "row">
  <div class= "field columns small-6 medium-8 large-12">
    <%= render "devise/shared/links" %>
  </div>
</div>
