<% provide(:background, @character.db_name) %>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div style="display:flex;align-items:left;">
  <%= link_to character_path(@character), :class =>"hvr-bounce-in" do %>
    <i class="fa fa-arrow-circle-left fa-2x" style="padding-top: 10px;padding-left: 6px;color: yellow;"></i>
  <% end %>
</div>
<div style="display:flex;justify-content:center;align-items:center;">
  <div class="panelzz">
    <div class="panel">
      <h1 style="text-shadow: 2px 2px black"><%=@move.name %></h1>
    </div>
  </div>
</div>
<%= video_tag(["https://s3.amazonaws.com/alot/mkx-clips/#{@move.db_name}.mp4"], :controls => true, :id => "move-video-big") %>

<div style="display:flex;justify-content:center;align-items:center;">
  <div class="panel">
    <h2 style="text-shadow: 2px 2px black"`>Comments</h2>
  </div>
</div>

<%- if current_user -%>
  <div class="new-comment">
    <button data-remote="true" class="button radius button-new-form mall-6 large-10 large-offset-1">
    Submit Your Comment</button>
    <div class="hide comment-form">
      <div class="panelz">
        <div class="panel">
          <p style="text-shadow: 2px 2px black">NEW COMMENT</p>
          <%= form_for [@character, @move, @comment], :id => 'comment-form' do |f| %>
            <div class= "row">
              <div class= "field columns small-12 large-12">
                <div class="field">
                  <%= f.label :body, :style => "color: #ead61c;text-shadow: 2px 2px black" %>
                  <%= f.text_area :body, :id => 'comment-body' %>
                </div>
              </div>
            </div>
            <div class= "row">
              <div class= "field columns small-8 large-8">
                <div class="field">
                  <%= f.label :rating, :style => "color: #ead61c;text-shadow: 2px 2px black" %>
                  <%= f.select :rating, options_from_collection_for_select([1, 2, 3, 4, 5], "to_s", "to_s"), :id => 'comment_rating' %>
                </div>
              </div>
            </div>
      <%= f.submit "Submit Comment", class: "success button", id: "submitting_comment" %>
        </div>
      </div>
     <% end %>
    </div>
  </div>

  <%- else -%>
    <span class="small-6 large-10 large-offset-1">
      <%= link_to 'Submit Your Comment', new_user_session_path,
      class: "button radius" %>
    </span>
  <%- end -%>

  <div class="comments-container">
      <% @comments.each do |c| %>
      <div class="panelz" style="padding-bottom:10px;">
        <div class="panel small-6 large-10 large-offset-1" style="display:block;", id="comments_panel">
      <p style="text-shadow: 2px 2px black">Written by <%= current_user.email %> <%= time_ago_in_words(c.created_at) %> ago.</p>
        <div class="panel", id="comments">

          <% if current_user %>
            <div id="<%= c.id %>">
              <div id="ballotBox" style="float:left;">
                <a id="upvote" class="vote"> <%= image_tag("upvote.png", :class =>"hvr-grow") %> </a>
                <div id="comment_score" style="padding-left:18px;"> <%= c.score %> </div>
                <a id="downvote" class="vote"><%= image_tag("downvote.png", :class =>"hvr-grow") %></a>
              </div>
            </div>
            <% else %>
            <div id="ballotBox" style="float:left;">
              <a> <%= link_to image_tag("upvote.png"), new_user_session_path,:id =>"novoteforyou", :class =>"hvr-grow" %> </a>
              <div id="comment_score" style="padding-left:18px;"> <%= c.score %> </div>
              <a> <%= link_to image_tag("downvote.png"), new_user_session_path, :id =>"novoteforyou2", :class =>"hvr-grow"  %></a>
            </div>
            <% end %>

        <p>
          <h5 style="text-shadow: 2px 2px black;", id="c-rating">Rating: <%= c.rating %></h5>
        </p>
        <p>
          <h2 style="text-shadow: 2px 2px black", id="c-body"><%= c.body %></h2>
        </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

      <div class="small-6 large-10 large-offset-1" id ="paginator">
        <%= paginate @comments %>
      </div>
