<% provide(:background, @character.db_name) %>
<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
<br>
<div style="display:flex;justify-content:center;align-items:center;">
  <div class="panelzz">
    <div class="panel">
      <h1><%=@character.name %></h1>
      <%=@character.description %>
    </div>
  </div>
</div>

<div class="move-properties">

  <% @character.moves.each do |m| %>
    <div class="row fullWidth">
      <div class="small-12 medium-4 columns">
        <div class="row">
          <table class="panelzz" style="margin-top: 4.5em">
            <tr>
              <td><h3 class="text-center"><%= m.name %>:</h3></td>
              <td><h3 class="text-center"><%= m.button_command %></h3></td>
            </tr>
            <tr>
              <td><h3 class="text-center">Move Type: <%= m.move_type %></h3></td>
              <td><h3 class="text-center">Damage: <%= m.damage  %></h3></td>
            </tr>
          </table>
        </div>
      </div>


      <% f = m.frames.first %>
      <div class="small-12 medium-4 columns">
        <div class="row">
          <table class="panelzz">
            <tr>
              <td><p><h3 class="text-center">Startup: <%= f.startup %></h3></p></td>
              <td><p><h3 class="text-center">Active:  <%= f.active %></h3></p></td>
            </tr>
            <tr>
              <td><p><h3 class="text-center">Recover:  <%= f.recover %></h3></p></td>
              <td><p><h3 class="text-center">Block Adv:  <%= f.blockadv  %></h3></p></td>
            </tr>
            <tr>
              <td><p><h3 class="text-center">Hit Adv:  <%= f.hitadv  %></h3></p></td>
              <td><p><h3 class="text-center">Cancel Window:  <%= f.cancelwindow  %></h3></p></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="small-12 medium-4 columns" style="center">
        <%= video_tag(["#{m.db_name}.mp4"], :size => "380x300", :controls => true) %>
      </div>
    </div>
  <% end %>
</div>



<% if current_user %>
  <% if current_user.admin %>
    <%= link_to "Delete Character (Admin Only)", @character, method: :delete,
     class: "button alert hvr-bounce-in",
     data: {confirm: "Fatality?"} %>
  <% end %>
<% end %>
