<div class = "small-block-grid-1 medium-block-grid-3 large-block-grid-5 panel-log-in" >
  <div style="display:flex;justify-content:center;align-items:center;">
    <div class = "panel-reg">
    <h1>Log in</h1>
    </div>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class= "row">
  <div class= "field columns small-6 medium-8 large-12">
    <%= f.label :email, :style => "color: #ead61c;" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
</div>

<div class= "row">
  <div class= "field columns small-6 medium-8 large-12">
    <%= f.label :password, :style => "color: #ead61c;" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>

  <% if devise_mapping.rememberable? -%>
<div class= "row">
  <div class= "field columns small-6 medium-8 large-12">
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me,:style => "color: #ead61c;" %>
    </div>
  </div>
</div>
  <% end -%>

  <div class="actions">
    <div class= "row">
      <div class= "field columns small-6 medium-8 large-12">
    <%= f.submit "Log in", class: "button" %>
      </div>
    </div>
  </div>
<% end %>

<div class= "row">
  <div class= "field columns small-6 medium-8 large-12">
<%= render "devise/shared/links" %>
  </div>
</div>
