<!DOCTYPE html>
<html>
<head>
  <title>Mortal Frames</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= background_image(yield(:background)) %>">

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h4><a href="/"> Mortal Frames</a><li class="divider"></li></h4>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul align="right", style="display: block;float: right;margin: 0 auto;">
        <%- if current_user -%>
          <li class="divider"></li>
          <li id="register-button-2"><%= link_to current_user.email, edit_user_registration_path(current_user) %></li>
          <li class="divider"></li>
          <li id="register-button"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li class="divider"></li>
        <%- else -%>
          <li class="divider"></li>
          <li id="register-button"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li class="divider"></li>
          <li id="register-button-2"><%= link_to 'Sign In', new_user_session_path %></li>
          <li class="divider"></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
  <div data-alert class="alert-box info radius" tabindex="0" aria-live="assertive" role="alertdialog">
      <%= value %>
  <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
  </div>

  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
